h1 {
	color: rgb(219, 125, 190);
	font-size: 45px;
	text-align: center;
  -webkit-text-stroke: 1px rgb(191, 73, 156);
  font-family: 'Cormorant Infant', sans-serif;
}
h2 {
	color: rgb(219, 125, 190);
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	text-decoration: underline;
	font-family: 'Cormorant Infant', sans-serif;
	background: black;
}
p{
	color: rgb(212, 150, 193);
	font-size: 25px;
    text-align: left;
    font-weight: 800;
    font-family: 'Cormorant Infant', sans-serif;
}

.first-div {
	background: rgba(237,180,237,0.5);
	border: 5px solid rgb(191, 73, 156);
	width: 700px;
	margin: auto;
	border-radius: 20px 40px;
	box-shadow: 7px 10px 7px rgba(79,23,71,1);
	opacity: ;
}
.second-div {
	background: lightblue;
	border: 5px dotted black;
	width: 90%;
	margin: auto;
	padding: 20px;
}

.third-div
{
	border: 8px dotted pink;
	border-radius: 10px;
	width: 60%;
	margin: 20px auto;
	padding: 10px;
}
.fremine
{
	border: 8px dotted pink;
	width: 70%;
	margin: 20px auto;
	padding: 10px;
}
.ruki {
	border: 8px dotted pink;
	width: 40%;

	margin: 20px auto;
	padding: 10px;
}
img {
	opacity: 0.8;
}